@import 'Reset';
@import 'variables';
@import 'navbar';
@import 'hero';

h1,
h2,
h3 {

  /* Background de los span en titulos h1 y h2*/
  span {
    background-image: url('/img/text_span_line.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
  }

}

h1 {
  font-size: $font-xl;

  /*Posicion de Background de los span en titulos h1*/
  span {
    background-position: bottom;
  }
}

h2 {
  font-size: $font-lg;

  /*Posicion de Background de los span en titulos h2*/
  span {
    background-position: 100% 90%;
  }
}

h3 {
  font-size: $font-md;

  /*Posicion de Background de los span en titulos h3*/
  span {
    background-position: 100% 85%;
  }
}

.p-block {
  &--principal {
    margin-bottom: 2.5rem;
  }

  &--secondary {
    margin-bottom: 1rem;
  }
}

.img {
  &--section {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
  }

  &--decoration1 {
    bottom: -2.5rem;
    right: -0.5rem;
    position: absolute;
    width: 8rem;
    z-index: -1;
  }

  &--decoration2 {
    bottom: -3rem;
    left: -0.75rem;
    position: absolute;
    width: 10rem;
    z-index: -1;
  }

  &--card-especialidad {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  &--card-equipo {
    width: 50%;
    height: 50%;
  }

  &--cobertura {
    filter: opacity(80%);
  }
}
.main-container {
  margin-top: 5rem;
}

.section {
  width: 100%;
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  padding: 1rem;

  &__nav {
    position: fixed;
    top: 0;
    z-index: 99;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $white;
    border-radius: 0 0 12px 12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

    @media(min-width:768px) {
      padding: 1rem;
      border: none;
      border-radius: none;
      box-shadow: none;
    }

  }

  @media(min-width:768px) {
    max-width: 1110px;
    margin: auto;
  }
}

.wrapper {
  margin-bottom: 1rem;

  &__rssapp-carousel {

    background-color: #25D366;
    width: 100% !important;
    overflow: hidden;

    .rssapp-title-header{
      font-size: $font-xs;
      display: none !important;
    }

  }

  &__cards {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 16px;

    &--especialidad {
      flex-flow: column wrap;

    }

    &--coberturas-horizontal {
      padding-top: 1rem;
      flex-flow: row nowrap;
      overflow-x: scroll;
      scrollbar-width: thin;
      /* ancho de la barra de desplazamiento */
      scrollbar-color: $primary-color $secondary-color;
      /* color del "pulgar" y del fondo */
    }

    &--coberturas-list {
      padding-top: 1rem;
      flex-flow: row wrap;
      overflow-x: scroll;
      scrollbar-width: thin;
      /* ancho de la barra de desplazamiento */
      scrollbar-color: $primary-color $secondary-color;
      /* color del "pulgar" y del fondo */
    }
    
  }

  &__bodyCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  &__img {
    position: relative;
    text-align: center;

    &--section {
      padding-top: 1rem;
      padding-right: 2rem;
      padding-left: 1rem;
      margin-bottom: 3rem;
    }

    &--card-equipo {
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      padding: 2rem;
      background-color: $gray;

    }

    &--full {
      padding-top: 1rem;
      margin-bottom: 3rem;
    }

    &--footer {
      max-width: 150px;
      margin: auto;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

  }
  &--copywrite {
    font-size: $font-xs;
    font-family: $font-ppal;
    font-weight: $weight-ppal-bold;
    color: $gray;
    padding-top: 0.5rem;
    padding-bottom: 4.5rem;
    background-color: $black;

  }

  &__swicth-lang {
    display: flex;
    gap: 1rem;
    position: fixed;
    bottom: 0.75rem;
    left: 1rem;
    background-color: $white;
    padding: 0.25rem;
    border: 2px solid $gray;
    border-radius: 12px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

  }

  &__text {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 1rem;
  }
}

.card {
  // padding: 1rem;
  border: 1px solid $gray;
  border-radius: 12px;
  background-color: $white;
  box-shadow: 5px 5px 10px $gray;

  &--especialidad {
    width: 100%;
  }

  &--cobertura-horizontal {
    min-width: 50%;
  }

  &--cobertura-list {
    flex-basis: calc(50% - 8px);
  }

}

.text {
  &--primary {
    font-size: $font-md;

  }
}

.link-text {
  display: inline-flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: $font-ppal;
  font-weight: $weight-ppal-bold;

  &--card {

    align-self: flex-end;
  }

  &--md {

    font-size: $font-md;

  }

  &--sm {

    font-size: $font-sm;
  }

  &--primary {
    color: $primary-color;
  }

  &--black {
    color: $black;
  }

  svg {
    width: auto;
    font-size: $font-sm;
    margin-left: 0.5rem;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: $gray;
  }
}

.btn {
  font-family: $font-ppal;
  text-align: center;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  border-radius: 12px;

  &--primary {
    @include buttonColor($primary-color, $white, $terciary-color, $secondary-color, $white)
  }

  &--secondary {
    @include buttonColor($white, $primary-color, $primary-color, $secondary-color, $white)
  }

  &--lg {
    @include buttonSize(100%, 0.75rem, 1rem, 12px, $font-xs, $weight-ppal-bold)
  }

  &--md {
    @include buttonSize(66%, 0.5rem, 1rem, 10px, $font-xs, $weight-ppal-bold)
  }

  &--sm {
    @include buttonSize(auto, 0.5rem, 1rem, 10px, $font-xs, $weight-ppal-bold)
  }

  &--xs {
    @include buttonSize(auto, 0.25rem, 0.5rem, 10px, $font-xs, $weight-ppal-bold)
  }
}



.text-field {
  width: 100%;
  height: max-content;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  font-weight: $weight-gral-light;
  border: 1px solid $gray;
  border-radius: 12px;
  background-color: transparent;

  &:focus-visible {
    border: 1px solid $primary-color;
    outline-offset: 0px;
    outline: 2px solid $terciary-color;
  }
}

.footer {
  text-align: center;
  background-color: $primary-color;
  color: $white;
  
}

.icon-wp {
  position: fixed;
  right: 1rem;
  bottom: 0.5rem;
  color: $white;
  background-color: #25D366;
  border-radius: 50%;
  padding: 0.75rem 0.75rem;
  z-index: 99;
}