@import 'variables';

.wrapper-img {
  position: relative;
}

.wrapper-img::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 35%);
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 35%);
}

.hero-title {
  font-size: 2em;
}

.hero-text {
  font-size: $font-lg;
}