@import 'variables';

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background-color: $white;
  transition: all 0.8s ease-in-out;
  z-index: 99;

  &__logo {
    width: 175px;
    margin-bottom: 1rem;
  }

  &__items {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: start;
    background-color: $white;


    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;



    &--open {
      height: 20rem;
      opacity: 1;
    }


    .item {
      color: $black;
      font-size: $font-md;
      font-weight: $weight-ppal-regular;
      text-transform: capitalize;
      cursor: pointer;

      .navlink {
        font-size: $font-md;
        width: max-content;

        &.active {
          color: $primary-color;
        }
      }

      :hover {
        color: $primary-color;
      }

      @media(min-width:768px) {
        padding: 0;
        margin: 0 1rem;
      }
    }

    @media(min-width:768px) {
      display: flex;
      width: auto;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      height: auto;
      opacity: inherit;
    }
  }

  .burguer-menu {
    width: 3rem;
    height: 2.5rem;
    display: inherit;
    align-items: center;
    justify-content: center;
    background-color: $gray;
    border-radius: 10px;
    cursor: pointer;

    &__icon {
      color: $black;
      font-size: $font-md;
      font-weight: $weight-ppal-bold;

    }

    @media(min-width:768px) {
      display: none;
    }
  }


}